
<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer" style="background-color:white;">
<!-- Like Button -->
<span  class='st_twitter' ></span><span  class='st_facebook' ></span><span  class='st_email' ></span>
<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'12e9746a-f335-4d62-9251-7a14b829361b'});</script>&nbsp;
<!-- End Like Button -->

&copy; Copyright 2011–2012 All Rights Reserved. | <a href="mailto:parashuram@gmail.com">Contact Us</a>
<a id="link-top" href="#top-of-page">Top</a>
</div>

<!-- ===================================== END FOOTER ===================================== -->
