
{% block content %}
  
<!DOCTYPE html>
<html>

<head>
<title>gigzibit | Goal based job broadcasting </title>
<meta charset="UTF-8">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="/HTML-KickStart/js/prettify.js"></script>                                   <!-- PRETTIFY -->
<script type="text/javascript" src="/HTML-KickStart/js/kickstart.js"></script>                                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/HTML-KickStart/css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/HTML-KickStart/style.css" media="all" />                          <!-- CUSTOM STYLES -->
</head>

<body>

<!-- ===================================== START HEADER ===================================== -->

<div>
	<div style="color:white;background-color:brown;position:absolute;padding:15px 15px 20px;margin-left:50px;font-size:xx-large;">gigzibit</div>
	<div style="padding-left:60px;background-color: {{APP_CONFIG['NAV_COLOR']}};border-top:5px solid #80BCA3;height:40px;">  	
		<div style="padding-top:10px;"><span style="margin-left:130px;font-size:large;color:grey;">Job Advertising Solution</span></div>	
		
	</div>
</div>
<!-- ===================================== END HEADER ===================================== -->

<!-- ===================================== BEGIN MAIN CONTENT ===================================== -->

<div class="col_1" >
	</div>
<div class="col_10" style="background-color:white;min-height:600px;">
	
	<div class="col_7">
		<div class="col_12" style="background-color:white;">
		<div><h4 style="margin: 0px 0;">Update here. Update everywhere.</h4></div>
		<div><address><p style="margin: 0px 0;">Import/Upload jobs and broadcast everywhere</p></address></div>
		<hr class="alt1" style="margin:15px;"/>	
		<div><h4 style="margin: 0px 0;">Set goals. Get a plan.</h4></div>
		<div><address><p style="margin: 0px 0;">You set recruitment goals. We help you create a broadcast plan.</p></address></div>
		<hr class="alt1" style="margin:15px;"/>	
		<div><h4 style="margin: 0px 0;">Track your visibility</h4></div>
		<div><address><p style="margin: 0px 0;">Manage and measure success of your campaign in one place.</p></address></div>
		</div>
		<div class="col_12" style="margin: 0px 0;">
		<iframe src="http://player.vimeo.com/video/28438135?title=0&amp;byline=0&amp;portrait=0" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
		</div>
	
	</div>
	
	
	
	<div class="col_5" >
		<div style="padding:10px;background-color:#efefef;border:1px solid lightgrey;">
			
			
			<img src="http://www.bookchums.com/Nimages/log-in-linkedin-small.png"></img>
			<img src="http://www.bookchums.com/Nimages/social-icons-FB.png"></img>
			
		</div>
		
		<div  style="margin-top:20px;padding:10px;background-color:#efefef;border:1px solid lightgrey;">
			<div style="color:white;background-color:brown;padding:5px 5px 5px;margin-left:0px;">Start here | check how your jobs appear on the internet</div>
			
			<div style="margin-top:20px;">
			<form style="margin-bottom:5px;">
				<label for="text21" style="top:3px;"><img style="border:1px solid lightgrey;"  src="http://www.nolamarketing.com/clients/Jobvite/images_email/Jobvite_LandPg_Jan11_logo.gif" height="26px;" width="90px;"></img></label>
				<input type="text" name="text21" style="width:227px;" value="http://hire.jobvite.com/Jobvite/Jobs.aspx?m=nBPwyhwg">
				
				<button class="small green" type="button">Import</button>
			</form>
			
			<form style="margin-bottom:5px;">
				<label style="top:3px;"><img style="border:1px solid lightgrey;" src="http://s4.licdn.com/scds/common/u/img/logos/logo_132x32_2.png" height="26px;" width="90px;"></img></label>
				<input type="text"  style="width:227px;" value="http://hire.jobvite.com/Jobvite/Jobs.aspx?m=nBPwyhwg">
				
				<button class="small green" type="button">Import</button>
			</form>
			
			<form style="margin-bottom:5px;">
				<label style="border:1px solid lightgrey;height:28px;width:90px;font-size:large;"> <center>http://</center></label>
				<input type="text"  style="width:230px;" value="http://hire.jobvite.com/Jobvite/Jobs.aspx?m=nBPwyhwg">
				
				<button class="small green" type="button">Import</button>
			</form>
			<hr class="alt1" style="margin:15px;"/>		
			<form>
				
				<input type="text"  style="width:390px;margin-bottom:10px;" value="Lead Qualification Representative"><br>
				<input type="text"  style="width:390px;margin-bottom:10px;" value="Simply Hired"><br>
				<input type="text"  style="width:282px;margin-bottom:10px;" value="Sunnyvale">
				<input type="text"  style="width:30px;margin-bottom:10px;" value="CA">
				<input type="text"  style="width:70px;margin-bottom:10px;" value="94085">
				
				<button class="small green" type="button" style="float:right;">Scan</button>
			</form>
			</div>
		</div>
	</div>
	
</div>
<div class="col_1" >
	</div>
<!-- ===================================== END MAIN CONTENT  ===================================== -->



<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer" style="background-color:white;">
<!-- Like Button -->
<span  class='st_twitter' ></span><span  class='st_facebook' ></span><span  class='st_email' ></span>
<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'12e9746a-f335-4d62-9251-7a14b829361b'});</script>&nbsp;
<!-- End Like Button -->

&copy; Copyright 2011–2012 All Rights Reserved. This website was built with <a href="http://www.99lime.com">HTML KickStart</a> | 
<a href="/rss/">RSS</a> | By <strong>Joshua Gatcke</strong> | <a href="mailto:&#106;&#111;&#115;&#104;&#117;&#97;&#64;&#57;&#57;&#108;&#105;&#109;&#101;&#46;&#99;&#111;&#109;">Contact Me</a>
<a id="link-top" href="#top-of-page">Top</a>
</div>



</body></html>  
  
  
{% endblock %}
