
{% block content %}
  
<!DOCTYPE html>
<html>

{% include "htmlhead.html" %}

<body>
{% include "header.html" %}
<!-- ===================================== BEGIN MAIN CONTENT ===================================== -->

<div class="col_1" ></div>
<div class="col_10" style="background-color:white;min-height:600px;">
	
		
	
	<div>
			<div class="col_7">	
				<div style="background-color:#80BCA3;color:white;margin-bottom:5px;font-size:large;min-height:25px;padding:15px;border-radius:5px;"><center>Advertising tool for Staffing agengies, Ad agencies, Job Boards & Employers</center></div>
				<div style="background-color:{{APP_CONFIG['NAV_COLOR']}}; margin-bottom:10px;border-radius:5px;border:1px solid #E9DADA;">
					<table><tr>
						<td width="15%">
							<span class="icon x-large gray" data-icon="v"></span>
						</td>
						<td>
							<div><h4 style="margin: 0px 0;">Syndicate your listings.</h4></div>
							<div><address><p style="margin: 0px 0;">Import your jobs, update here, updates everywhere.</p></address></div>
						</td>
					</tr></table>
				</div>
				<div style="background-color:{{APP_CONFIG['NAV_COLOR']}}; margin-bottom:10px;border-radius:5px;border:1px solid #E9DADA;">
					<table><tr>
						<td width="15%">
							<span class="icon x-large gray" data-icon="z"></span>
						</td>
						<td>
							<div><h4 style="margin: 0px 0;">Optimize your campaign</h4></div>
							<div><address><p style="margin: 0px 0;">Maximise visibility, minimize cost, target quality audience. <br>You set campaign goals. We help you create a broadcast plan</p></address></div>
						</td>
					</tr></table>
				</div>
				<div style="background-color:{{APP_CONFIG['NAV_COLOR']}}; margin-bottom:10px;border-radius:5px;border:1px solid #E9DADA;">
					<table><tr>
						<td width="15%">
							<span class="icon x-large gray" data-icon="["></span>
						</td>
						<td>
							<div><h4 style="margin: 0px 0;">Broadcast your jobs & track results</h4></div>
							<div><address><p style="margin: 0px 0;">Manage and measure success of your campaign in one place</p></address></div>
						</td>
					</tr></table>
				</div>
				
			
				<!-- Video Placeholder -->
				<iframe width="100%" height="281" src="http://www.youtube.com/embed/-jS23nlRjGQ?rel=0" frameborder="0" allowfullscreen></iframe>
				<!--<iframe src="http://player.vimeo.com/video/28438135?title=0&amp;byline=0&amp;portrait=0" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
	
			</div>
	
			<div class="col_5" >
				
				<div  style="padding:10px;background-color:#E6F2ED;border-radius:5px;">
					
					<div style="color:brown;margin-bottom:5px;font-size:medium;min-height:10px;padding:5px;">Start here | check how your jobs appear on the internet</div>
					<div style="margin-top:20px;margin-left:20px;">
						<form style="margin-bottom:5px;" name="jobvite" action="scan" method="get">
							<input type="hidden"  name="requesttype" value="jobvite">
							<input type="hidden"  name="user" value="newuserdemo">
							<label for="text21" style="top:3px;"><img src="http://b.vimeocdn.com/ps/625/62535_75.jpg" height="26px;"></img></label>
							<input readonly="readonly" type="text" name="text21" style="width:70%;" value="http://hire.jobvite.com/Jobvite/Jobs.aspx?m=nBPwyhwg">
							
							<button class="small green" type="submit"><span class="icon small white" data-icon="("></span>Import</button>
						</form>
						
						<form style="margin-bottom:5px;" name="linkedin" action="scan" method="get">
							<input type="hidden"  name="requesttype" value="linkedin">
							<input type="hidden"  name="user" value="newuserdemo">
							<label style="top:3px;"><img src="http://codingbrains.com/images/linkedin_icon.gif" height="26px;"></img></label>
							<input readonly="readonly" type="text"  style="width:70%;" value="http://www.linkedin.com/jsearch?company=stumbleupon">
							
							<button class="small green" type="submit"><span class="icon small white" data-icon="("></span>Import</button>
						</form>
						
						<form style="margin-bottom:5px;" name="www" action="scan" method="get">
							<input type="hidden"  name="requesttype" value="www">
							<input type="hidden"  name="user" value="newuserdemo">
							<label style="top:3px;"><img src="http://hypenotice.com/hyped/wp-content/uploads/www_logo.png" height="26px;"></img></label>
							<input readonly="readonly" type="text"  style="width:70%;" value="http://www.stumbleupon.com/job?jvi=oUCqWfwC,job">
							
							<button class="small green" type="submit"><span class="icon small white" data-icon="("></span>Import</button>
						</form>
						<hr class="alt1" style="margin:15px;"/>		
						<form name="www" action="scan" method="get">
							<input type="hidden"  name="requesttype" value="www">
							<input type="hidden"  name="user" value="newuserdemo">
							<input type="text"  name="title" style="width:95%;margin-bottom:10px;" readonly="readonly" value="Lead Qualification Representative"><br>
							<input type="text"  name="company" style="width:95%;margin-bottom:10px;" readonly="readonly" value="Simply Hired"><br>
							<input type="text"  name="city" style="width:68%;margin-bottom:10px;" readonly="readonly" value="Sunnyvale">
							<input type="text"  name="state" style="width:30px;margin-bottom:10px;" readonly="readonly" value="CA">
							<input type="text"  name="zip" style="width:70px;margin-bottom:10px;" readonly="readonly" value="94085"><br>
							
							<button class="small green" type="submit" style="width:70px;"><span class="icon small white" data-icon="s"></span>Scan</button>
						</form>
					</div>
				</div>
		
				<form name="all" action="scan" method="get" style="margin:15px;">
					<input type="hidden"  name="requesttype" value="all">
					<input type="hidden"  name="user" value="newuserdemo">
					
					<button class="large green" type="submit" style="width:100%;">Click to see a demo account</button>
				</form>
				<!--<div style="margin:15px;">
					<div class="col_1"></div>
					<div class="col_3" style="color:brown;margin-bottom:0px;min-height:70px;padding:0px;border-radius:5px;border:2px solid lightgrey;"><center><span style="font-size:small;">Upto 3 Jobs</span><br><span style="font-size:large;">Free</span></center></div>
					<div class="col_3" style="color:brown;margin-bottom:0px;min-height:70px;padding:0px;border-radius:5px;border:2px solid lightgrey;"><center><span style="font-size:small;">4 to 50 Jobs</span><br><span style="font-size:large;">10$ / job</span></center></div>
					<div class="col_3" style="color:brown;margin-bottom:0px;min-height:70px;padding:0px;border-radius:5px;border:2px solid lightgrey;"><center><span style="font-size:small;">50+ Jobs</span><br><span style="font-size:large;">Call us</span></center></div>
				</div>
				<div style="margin:45px;">
					<div class="col_1"></div>
					<div class="col_4" style="color:brown;margin-bottom:0px;min-height:70px;padding:0px;border-radius:5px;border:2px solid lightgrey;"><center><span style="font-size:large;">Targetted Audience</span></center></div>
					<div class="col_4" style="color:brown;margin-bottom:0px;min-height:70px;padding:0px;border-radius:5px;border:2px solid lightgrey;"><center><span style="font-size:large;">Save 100's per job</span></center></div>
					
				</div>-->
				<div style="margin:15px;">
					<table><tr>
						<td width="33%">
							<div  style="color:white;margin-bottom:5px;min-height:80px;padding-top:40px;border-radius:5px;border:2px solid lightgrey;background-color:brown;"><center><span style="font-size:large;">Try it for Free</span></center></div>
						</td>
						<td width="33%">
							<div  style="color:white;margin-bottom:5px;min-height:100px;padding-top:20px;border-radius:5px;border:2px solid lightgrey;background-color:brown;"><center><span style="font-size:large;">Save Thousands of $$</span></center></div>
						</td>
						<td width="33%">
							<div  style="color:white;margin-bottom:5px;min-height:100px;padding-top:20px;border-radius:5px;border:2px solid lightgrey;background-color:brown;"><center><span style="font-size:large;">Reach the Right Candidates</span></center></div>
						</td>
					</tr></table>
					
				</div>
				
			</div>
	<div>
</div>
	</div>
</div>
<div class="col_1" ></div>
<!-- ===================================== END MAIN CONTENT  ===================================== -->

{% include "footer.html" %}

</body></html>  
  
  
{% endblock %}
