
{% block content %}
  
<!DOCTYPE html>
<html>

{% include "htmlhead.html" %}

<body>

{% include "header.html" %}
<!-- ===================================== BEGIN MAIN CONTENT ===================================== -->

<div id="foo" class="col_3">
<ul class="menu vertical">

{% for job in demojobs %}
	<div id="{{job['jobid']}}" style="display:none;"><li id="li{{job['jobid']}}" 
	{% if loop.index is sameas 1 %}
		 class="current"
	{% endif %}
	><a href="#" onclick="$('li').attr('class','current').removeClass();$('#li{{job['jobid']}}').addClass('current');loadValues('{{job['jobid']}}','{{job['plan']}}','{{job['damping']}}');"><img src="{{job['loo']}}" width="15px" height="15px"></img>&nbsp;&nbsp;<span>{{job['title']}}</span></a></li></div>
{% endfor %}

</ul>
</div>
<div class="col_9">
<ul class="tabs left" >
<li><a href="#tabr1">Campaign</a></li>
<li><a href="#tabr2">Edit/Sync Job</a></li>
<li><a href="#tabr3">Performance</a></li>
</ul>

<div id="tabr1" class="tab-content" style="background-color:white;">


	<table style="width:50%;"><tr><td width="30%">
	<span style="color:grey; font-weight:bold;">Target </span><span id="visits" style="color:#f6931f; font-weight:bold;"></span><span style="color:grey; font-weight:bold;"> visits</span></td><td width="70%">
<div id="slider-visits"></div>
</td></tr><tr><td width="30%">
	<span style="color:grey; font-weight:bold;">Target </span>
	<span style="color:#f6931f; font-weight:bold;">$</span><span id="cost" style="color:#f6931f; font-weight:bold;"></span><span style="color:grey; font-weight:bold;"> budget</span></td><td width="70%">
<div id="slider-cost"></div>
</td></tr></table>


	<table cellspacing="0" cellpadding="0" class="sortable">
	<thead><tr class="alt first last">
		<th rel="0" value="Job Site">Job Site</th>
		<th rel="1" value="Monthly Users">Monthly Users</th>
		<th rel="2" value="Cost">Cost/Month</th>
		<th id="expsort" rel="3" value="Expected Visits">Expected Visits</th>
		<th rel="5" ></th>
		
	</tr></thead>
	
	<tbody>
	{% for site in jobsites %}
	<tr id="trsite{{site['sourceid']}}" class="">
		<td value="{{site['name']}}"><img src="{{site['logourl']}}" alt="{{site['name']}}" width="80px" height="30px"></img></td>
		<td value="{{site['users']}}">{{site['users']}} million</td>
		<td id="ourcpm{{site['sourceid']}}" value="{{site['ourcpm']}}" ourcpm="{{site['ourcpm']}}">
		{% if site['ourcpm'] > 0 %}
			${{site['ourcpm']}} 
			{% if (site['cpm'] - site['ourcpm']) > 0 %}
				<span style="color:darkgreen">(${{site['cpm'] - site['ourcpm']}} off)</span>
			{% endif %}
		{% else %}
			<span style="color:darkgreen">Free</span>
		{% endif %}
		
		</td>
		<td id="tdvpm{{site['sourceid']}}" value="{{site['vpm']}}"><div>
		<span id="vpm{{site['sourceid']}}" style="color:
		{% if site['vpm'] > 500 %}
		darkgreen
		{% elif site['vpm'] > 200 %}
		darkorange
		{% else %}
		red
		{% endif %}
		
		">
		{{site['vpm']}}
		</span>
		
		</div></td>
		<td value="">
		<div id="check{{site['sourceid']}}" style="display:none;">
		{% if site['defaultpresent'] is sameas 1 %}
		<span class="icon small green" data-icon="c"></span>
		{% else %}
		<span class="icon small red" data-icon="x"></span>
		{% endif %}
		<input type="checkbox" id="check{{site['sourceid']}}" />
		</div>
		
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
</div>
<div id="tabr2" class="tab-content" style="background-color:white;">
</div>
<div id="tabr3" class="tab-content" style="background-color:white;">
</div>
</div
<!-- ===================================== END MAIN CONTENT  ===================================== -->

{% include "footer.html" %}

<script>
var noofsites = {{noofsites}};
/*var opts = {
  lines: 13, // The number of lines to draw
  length: 7, // The length of each line
  width: 4, // The line thickness
  radius: 10, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  color: '#000', // #rgb or #rrggbb
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: '250' // Left position relative to parent in px
};
var target = document.getElementById('foo');
var spinner = new Spinner(opts).spin(target);
*/
var stopdelay = 0;
{% for job in demojobs %}
	$("#{{job['jobid']}}").delay(500 * {{loop.index}}).fadeIn();
	stopdelay = {{loop.index}};

{% endfor %}

//setTimeout('spinner.stop();', 500 * stopdelay);
{% for site in jobsites %}
	$("#check{{site['sourceid']}}").delay(500 * {{loop.index}}).fadeIn();
{% endfor %}

$(function() {
		$( "#slider-visits" ).slider({
			range: "min",
			value: 37,
			min: 100,
			max: 3000,
			slide: function( event, ui ) {
				$( "#visits" ).text(  ui.value );
			},
			stop: function( event, ui ) {
				var sliderval = parseInt($( "#visits" ).text(  ui.value ));
				var i = 1;
				var totalvisits = 0;
				var pricylistcount = 0;
				var pricylist = [];
				for(i = 1; i < noofsites;i++) {
						var val = parseInt($( '#vpm' + i ).text());
						var cost = parseInt($( '#ourcpm' + i ).attr('ourcpm'));
						if(cost == 0) {
							totalvisits = totalvisits + val;
						} else {
							pricylist.push(i);
							pricylistcount++;
						}
						
				}
				var pi = 0;
				while(sliderval > totalvisits) {
					if(pi > pricylistcount) {
						break;
					}
					var val = parseInt($( '#vpm' + pricylist[pi] ).text());
					totalvisits = totalvisits + val;
					pi++;
				}
				for(i = pi;i < pricylistcount;i++) {
					$("#trsite" + pricylist[i]).fadeOut();
				}
			}
		});
		$( "#visits" ).text( $( "#slider-visits" ).slider( "value" ) );
	});	
$(function() {
		$( "#slider-cost" ).slider({
			range: "min",
			value: 37,
			min: 0,
			max: 700,
			slide: function( event, ui ) {
				$( "#cost" ).text(  ui.value );
			},
			stop: function( event, ui ) {
			}
		});
		$( "#cost" ).text( $( "#slider-cost" ).slider( "value" ) );
	});	
//setTimeout('$("#trsite3").attr("style","display:none;");',4000);



function loadValues(jobid, plan, damping)
{
		var ajaxRequest;  // The variable that makes Ajax possible!
		try{
			// Opera 8.0+, Firefox, Safari
			ajaxRequest = new XMLHttpRequest();
		} catch (e){
			// Internet Explorer Browsers
			try{
				ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
			} catch (e) {
				try{
					ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
				} catch (e){
					// Something went wrong
					alert("Your browser broke!");
					return false;
				}
			}
		}
		// Create a function that will receive data sent from the server
		ajaxRequest.onreadystatechange = function(){
			if(ajaxRequest.readyState == 4){
				
				var jsonresp = eval('(' + ajaxRequest.responseText + ')');
				
				var i = 1;
				for(i = 1; i < {{noofsites}};i++) {
					var color = 'red';
					if(jsonresp[i]['vpm'] > 500) {
						color = 'darkgreen';
					}
					else if(jsonresp[i]['vpm'] > 200) {
						color = 'darkorange';
					}
					
					var txt = jsonresp[i]['vpm'];
					//$('#tdvpm' + jsonresp[i]['sourceid']).attr('value', txt);
					$('#vpm' + jsonresp[i]['sourceid']).attr('style','color:' + color + ';');	
					$('#vpm' + jsonresp[i]['sourceid']).text(txt);
							
					
				}
				$("#expsort").click();
				setTimeout('$("#expsort").click();',5);
				//$("#expsort").click();	
			}
		}
		ajaxRequest.open("GET", '/getsitevalues/rating' + plan + '/' + damping, true); 
		ajaxRequest.send(null); 

}

</script>

</body></html>  
  
  
{% endblock %}
